<!DOCTYPE html>
<html lang="es">

</html>
<!-- <form action="/lab1/sitio1/controler.php" method="post"> -->

<head>
    <form action="Vista.html" method=post name="formulario1"></form>
    <title>Consumo API REST</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Pagina de inicio de sesion" content="Login de inicio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Bootsrap 4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div id="app" class="card">
                <div class="imgcontainer">
                    <img src="usuario.png" alt="Avatar" class="avatar" style="background-color:transparent">
                </div>
                <div class="card-header">
                    <td></td>
                    <h3>{{titulo1}}</h3>

                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="cedula" v-model="cedula" class="form-control" placeholder="Cedula" required>
                            <INPUT type='hidden' id='token' name='token' value='' />
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" id="password"  v-model="contra" @keyup.enter="traer" class="form-control" placeholder="Password" required>
                            <div class="input-group-append">
                                <button id="show_password" class="btn btn-primary" type="button"
                                    @click="mostrarPassword"> <span class="fa fa-eye-slash icon"></span> </button>
                            </div>
                        </div>
                        <div class="btn text-center ">
                            <input type="button" @click="traer" value="Ingresar" class="btn float-right login_btn">
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Vista3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>