@import url('https://fonts.googleapis.com/css?family=Numans');


html,body{
background-image: url("../assets/fondo-degradado.jpg");
background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
height: 100%;
width: 100%;
font-family: 'Numans', sans-serif;
}


.container{
height: 100%;
align-content: center;
display: flex;
align-items: center;
justify-content: center;
}

.card{
height: 650px;
margin-top: auto;
margin-bottom: auto;
width: 800px;
text-align: center;
background-color:rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
text-align: center;
font-size:22px;
}

.input-group-prepend span{
width: 50px;
background-color: dodgerblue;
color: black;
border:0 !important;
}
.input-group-append span {
  height: 40;
  width: 20px;
  color: rgb(255, 255, 255);
  border: 0 !important;
  font-size:15px;
}
.d-block {
  color: black;
}
.form-group textarea{
    height: 70px;
}
.form-group option{
  color: white;
  text-align: center;
  font-size:14px;
  background-color:rgb(3, 6, 182);
}
.form-group select{
  color:white;
  text-align: center;
  font-size:14px;
  background-color:rgb(21, 21, 197);
}
@media(max-width: 767.98px)
{
  .row button
    {
      width: 75px;
        height: 40px;
        font-size:8px;
        
    }
  
}
@media (max-width: 520.98px) {
    html,body{
    background-image: url("../assets/fondo-degradado.jpg");
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%;
    font-family: 'Numans', sans-serif;
    flex-wrap: wrap;
    }
   
    
    .form-group h6{
        color: white;
        text-align: center;
        font-size:14px;
    }
    .form-group button{
        text-align: center;
        font-size:8px;
    }
    .form-group input{
        
        font-size:12px;
    }
    
    .form-control{
      background-color: white;
      color: black;
      border: 0 !important;
      font-size:14px;
      font-weight: bold;
    }
      .card-header h3 {
        color: white;
        text-align: center;
        font-size:14px;
      }
      
      .input-group-prepend span {
        width: 50px;
        height: 40px;
        background-color: dodgerblue;
        color: black;
        border: 0 !important;
        font-size:20px;
      }
      .input-group-append span {
        width: 20px;
        height: 40;
        color: rgb(255, 255, 255);
        border: 0 !important;
        font-size: 12px;
      }
      .imgcontainer {
        text-align: center;
        margin: 16px 0 6px 0;
      }
      
      .img.avatar {
        width: 20%;
        border-radius: 20%;
      }
      .item{
        color: black;
        font-size:14px;
      }
    }
